<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/tailwind.min.css"
    />
    <title>Hurray!</title>
  </head>
  <body
    class="flex tracking-wider text-center justify-center items-center h-screen"
    style="background-color: #eddcd9; color: #f2ebe9"
  >
    <div
      class="bg-gray-200 rounded-2xl mx-20 hover:shadow-2xl transform duration-300"
      style="background-color: #264143"
    >
      <div class="m-10 sm:mx-20 lg:mx-40">
        <h1 class="text-3xl md:text-4xl lg:text-5xl mt-10 font-bold">
          CR!TSECURRA
        </h1>
        <h2 class="lg:text-lg">
          Secure File Storage Using <em>`Hybr!d Cryptography` </em>
        </h2>
        <br /><br />
        <h2 class="mt-12 text-center font-semibold text-3xl">`SUCCESSO`!</h2>
        <h3 class="mb-5">You file has been decrypted and restored.<br /></h3>
        <table class="w-full mb-16">
          <tr class="flex justify-center">
            <td>
              <a href="/return-file"
                ><button
                  class="py-2 px-4 border transform duration-200 hover:text-black hover:bg-gray-100 hover:-translate-y-1"
                >
                  Download File
                </button></a
              >
            </td>
            <td>
              <a href="/home"
                ><button
                  class="py-2 px-4 border transform duration-200 text-black hover:text-white hover:bg-transparent bg-gray-100 hover:-translate-y-1 ml-10"
                >
                  Back to Home
                </button></a
              >
            </td>
          </tr>
        </table>
        <br />
        <div class="flex-col mx-auto mt-5 text-center">
          <h4><strong>A Project by:</strong></h4>
          <h5>Priya Nandini Jain | Pulkit Agarwal | Shubham Saxena</h5>
          <h6 class="tracking-widest">191510022 | 191510023 | 191510028</h6>
        </div>
      </div>
    </div>
  </body>
</html>
